@use "./variables" as v;

body {
  background-color: v.$darkBlue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: v.$fontFamily;
  flex-direction: column;

  @include v.mobile {
    margin: 0px 20px 0px 20px;
  }
}

picture {
  padding: 20px 50px 20px 50px;
}

.mainContainer {
  background-color: v.$darkGrayishBlue;
  border-radius: 20px;
  height: 340px;
  max-width: 548px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  color: v.$neoGreen;
  font-size: 16px;
  text-align: center;

  @include v.mobile {
    padding-bottom: 20px;
  }
}

.message {
  color: v.$lightCyan;
  font-size: v.$fontSize;
  font-weight: v.$fontWeight;
  padding: 20px 50px 20px 50px;
  text-align: center;

  @include v.mobile {
    padding: 10px;
  }
}

.imageContainer {
  position: relative;
  bottom: 40px;
  height: 64px;
  width: 64px;
  margin: auto;
}

.button {
  background-color: v.$neoGreen;
  border-radius: 50%;
  border: none;
  height: 64px;
  width: 64px;
  cursor: pointer;
}

.icon {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}