@use "./variables" as v;

body {
  background-color: v.$darkBlue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: v.$fontFamily;

  @include v.mobile {
    margin: 0px 20px 0px 20px;
  }
}

picture {
  padding: 20px 50px 20px 50px;
}

.mainContainer {
  background-color: v.$darkGrayishBlue;
  border-radius: 20px;
  height: 340px;
  max-width: 548px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.adviceContainer {
  padding-top: 50px;
}

.header {
  color: v.$neoGreen;
  font-size: 16px;
  text-align: center;

  @include v.mobile {
    padding-bottom: 20px;
  }
}

.message {
  color: v.$lightCyan;
  font-size: v.$fontSize;
  font-weight: v.$fontWeight;
  padding: 20px 50px 20px 50px;
  text-align: center;

  @include v.mobile {
    padding: 10px;
  }
}

.imageContainer {
  background-color: v.$neoGreen;
  border-radius: 50%;
  position: relative;
  top: 20px;

  @include v.mobile {
    top: 5px;
  }
}

.icon {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}